src/main/resources/schemas.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ModelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:int" name="scenarioNumber"/>
                <xs:element type="xs:float" name="drillingRate"/>
                <xs:element type="xs:float" name="oilPrice"/>
                <xs:element type="xs:float" name="dollarRate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ErrorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="type"/>
                <xs:element type="xs:string" name="message" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SuccessResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="type"/>
                <xs:element type="xs:string" name="message"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>